@charset "utf-8";

/* 样式重置 */
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

body {
    font: 12px "宋体", "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%
}

a {
    color: #172c45;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

em {
    font-style: normal
}

ul li {
list-style: disc inside;
text-align: left;
}
ol li {
list-style: decimal inside;
text-align: left;
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

/* 页面样式 */
 .dz-app-warpper {
            margin: 0 16px;
            padding-bottom:1px;
            overflow:hidden;
        }

        /* 标题 */
        .dz-app-warpper h1 {
            font-family: PingFangSC-Medium;
            font-size: 27px;
            color: #333333;
            letter-spacing: 0;
            line-height: 40px;
            margin-top: 20px;
             word-wrap: break-word
        }

        /* 作者 */
        .dz-app-article-related {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #333333;
            letter-spacing: 0;
            line-height: 22px;
            margin-top: 5px;
           word-wrap: break-word;
           }

        /* 时间 */
        .dz-app-read {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #999999;
            letter-spacing: 0;
            line-height: 22px;
            margin-top:8px;
            word-wrap: break-word;
        }

        /* 文本 */
        .dz-app-content {
            text-align: justify;
            font-family: PingFangSC-Regular;
            font-size: 18px;
            color: #333333;
            letter-spacing: 0;
            margin-top:28px;
        }

        .dz-app-content p {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #333333;
            letter-spacing: 0;
            margin-top: 20px;
            line-height: 28px;
        }

        .dz-app-content img {
            max-width: 100% !important;
        }

        /* 底部 */
        .dz-source {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #999999;
            letter-spacing: 0;
            line-height: 20px;
            margin-top: 20px;
            padding-bottom:20px;
        }


