@charset "utf-8";

/* 样式重置 */
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

body {
    font: 12px "宋体", "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%
}

a {
    color: #172c45;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

em {
    font-style: normal
}

ul li {
list-style: disc inside;
text-align: left;
}
ol li {
list-style: decimal inside;
text-align: left;
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

/* 页面样式 */

.dz-lb-warpper {
    margin: 0 16px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.dz-inner-title{
font-family: PingFangSC-Medium;
font-size: 25px;
color: #333333;
letter-spacing: 0;
line-height: 40px;
padding-top:8.5px;
padding-bottom:8px;
}
.dz-app-time{
font-family: PingFangSC-Regular;
font-size: 12px;
color: #999999;
letter-spacing: 0;
line-height: 20px;
}
.dz-app-time span{
display:inline-block;
margin-right:3px;
}
.dz-lb-content {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    line-height: 26px;
}
.dz-lb-content img {
     max-width:100%;
 }